
{% block view_campaign %}

<div class="row" >
    <h3>Low Viewability Campaigns</h3>
    <p>Below are the top twenty Campaigns still active as of this analysis with >= 100,000 impressions sorted descending by Viewable %.</p>
</div>

{{ table_placeHolder }}
<div class="row" >
    <table>
        <thead class="fqheader">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
