
{% block view_distribution %}

<div class="row" >
    <p>Below is an aggregate distribution for Viewable %, similar to the Risk Distribution presented in the Fraud Analysis section.</p>
</div>

{{ table_placeHolder }}
<div class="row" >
    <table>
        <thead class="fqheader">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</dev>
{% endblock %}
