{% block view_hidden %}

<div class="row" >
    <h3>High Hidden Risk vs. Low Hidden Risk</h3>
    <p>As mentioned above low Viewable % could be due to either poor quality site layout or malicious hiding of ads. Below are sites with Viewable %s in the critical range with varying Hidden %s.</p>
</div>

{{ table_placeHolder }}
<div class="row" >
    <table>
        <thead class="fqheader">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</dev>
{% endblock %}
