{% block view_vs_fraud%}

<div class="row" >
    <h3>Viewability vs. Fraud</h3>
    <p>Initially when botnets first began being used to generate fraud they were relatively unsophisticated and used simple browsing models such as rapid-refreshing pages to maximize fraudulent impressions generated. As bots have advanced in sophistication they have also started to fake advertiser KPIs such as:</p>
    <ul>
        <li>Viewability – in some cases fooling even MRC accredited vendors</li>
        <li>Engagement – mouse movement, clicks, scrolling</li>
        <li>Exploiting cookie history/retargeting</li>
        <li>Conversions – accomplished through using stolen credit cards to fake purchases</li>
        <li>Filling out forms</li>
    </ul>
    <p>Below are examples are Sub Sources for which we see both elevated Risk %s (high incidence of nonhuman activity) and strong Viewable %s. It is of note that most bots who will spoof Viewability will keep the in ad in view for at least 10 continuous seconds.</p>
</div>

{{ table_placeHolder }}
<div class="row" >
    <table>
        <thead class="fqheader">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</dev>
{% endblock %}
