<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>{{ client }} Forensiq Fraud Analysis</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="css/skeleton.css">

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="images/favicon.png">

    </head>
    <body>
        <div class="container" >
            <div class="row" style="page-break-before:always;">
                {% include 'templates/header.html' %}

            <!-- Intro Modules -->
                {% include 'templates/ivt/intro.html' %}
                {% include 'templates/view/intro.html' %}
                {% include 'templates/true/intro.html' %}
            </div>

        <!-- IVT Modules -->
            <div class="row" style="page-break-before:always;">
                {% include 'templates/ivt/overview.html' %}
                {% include 'templates/ivt/distribution.html' %}
                {% include 'templates/ivt/source.html' %}
                {% include 'templates/ivt/subsource.html' %}
                {% include 'templates/ivt/campaign.html' %}
                {% include 'templates/ivt/domain.html' %}
                {% include 'templates/ivt/appendix.html' %}
                {% include 'templates/ivt/deepdive.html' %}
            </div>

        <!-- Viewability Modules -->
            <div class="row" style="page-break-before:always;">
                {% include 'templates/view/overview.html' %}
                {% include 'templates/view/distribution.html' %}
                {% include 'templates/view/source.html' %}
                {% include 'templates/view/subsource.html' %}
                {% include 'templates/view/campaign.html' %}
                {% include 'templates/view/appendix.html' %}
                {% include 'templates/view/hidden.html' %}
                {% include 'templates/view/vs_fraud.html' %}
                {% include 'templates/view/deepdive.html' %}
            </div>

        <!-- True URL Modules -->
            <div class="row" style="page-break-before:always;">
                {% include 'templates/true/overview.html' %}
                {% include 'templates/true/appendix.html' %}
                {% include 'templates/true/source.html' %}
                {% include 'templates/true/subsource.html' %}
                {% include 'templates/true/reasons.html' %}
                {% include 'templates/true/deepdive.html' %}
            </div>

<!-- Risk by source chart -->
            <div class="row" >
                <h4>Risk by Source</h4>
                <p>Below is a summary of fraud risk by Source sorted descending by total risk. We see several sources with
                    elevated total risk ratio, which represents the percentage of impressions which falls into our total
                    risk range out of the total. The total risk ratio ranges from <span class="fqred" >{{ source.bottom }}%</span> to <span class="fqred" >{{ source.top }}%</span>, which falls into our
                    <span class="fqred" >{{ source.bottomRange }}</span> and <span class="fqred" >{{ source.topRange }}</span> aggregate risk levels respectively. More information on Risk Levels can be found
                    in the next section.</p>
            </div>
            {{ table_placeHolder }}

            <!-- Methodologies and Optimization Recommendations -->
            <div class="row" >
                <h4>Risk by source and domain</h4>
                <p>Grouping the data by <span class="fqred" >domain</span> we are able to identify several sources responsible for this fraud - below are
                    the Top 25 source and domain groupings sorted descending by Total Risk.
                </p>
            </div>
            <div class="row">
            {{ table_placeHolder }}
            </div>
        </div>
<!-- Appendix goes here -->
        <div class="row" >
            <h3>Appendix</h3>
            {% include 'appendix.html' %}
        </div>
        </div>
    </body>
</html>
