<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta charset="utf-8">
        <title>{{ client }} Forensiq Fraud Analysis</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" href="css/skeleton.css">

        <!-- Favicon
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="icon" type="image/png" href="images/favicon.png">

    </head>
    <body>
        <div class="container" >
            {% include 'templates/intro.html' %}

                <h3><b>Fraud Analysis</b></h3>
                <h4>Overview</h4>
                <p> We identified a total of <span class="fqred">{{ percentages.total }}</span> of all traffic as fraudulent. Scores in the high-risk or suspect ranges have been linked to lower quality traffic and can often be traced to fraudulent sources, sub sources, or domains.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="one-half column">
                    <img class="chart" src="images/{{ client }}Gauge.png" />
                </div>
                <div class="one-half column">
                    <img  class="chart" src="images/{{ client }}.png" />
                </div>
            </div>
        </div>
        <div class="container" >
            <div class="row" >
                <p>Below is the breakdown by {{ traffictype }} within each risk range.</p>
            {{ table_placeHolder }}

<!-- Risk by source chart -->
            <div class="row" >
                <h4>Risk by Source</h4>
                <p>Below is a summary of fraud risk by Source sorted descending by total risk. We see several sources with
                    elevated total risk ratio, which represents the percentage of impressions which falls into our total
                    risk range out of the total. The total risk ratio ranges from <span class="fqred" >{{ source.bottom }}%</span> to <span class="fqred" >{{ source.top }}%</span>, which falls into our
                    <span class="fqred" >{{ source.bottomRange }}</span> and <span class="fqred" >{{ source.topRange }}</span> aggregate risk levels respectively. More information on Risk Levels can be found
                    in the next section.</p>
            </div>
            {{ table_placeHolder }}

            <!-- Methodologies and Optimization Recommendations -->
            <div class="row" >
                <h4>Risk by source and domain</h4>
                <p>Grouping the data by <span class="fqred" >domain</span> we are able to identify several sources responsible for this fraud - below are
                    the Top 25 source and domain groupings sorted descending by Total Risk.
                </p>
            </div>
            <div class="row">
            {{ table_placeHolder }}
            </div>
        </div>
<!-- Appendix goes here -->
        <div class="row" >
            <h3>Appendix</h3>
            {% include 'appendix.html' %}
        </div>
        </div>
    </body>
</html>
