{% block ivt_campaign %}

<div class="row" >
    <h3>Risk by Referring Domain</h3>
    <p>Below are the top referring domains with Risk %s in the High and Critical Risk Ranges that are still active as of this analysis.</p>
</div>

{{ table_placeHolder }}
<div class="row" >
    <table>
        <thead class="fqheader">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
