{% block ivt_intro %}

<div class="row" >
    <h5><span class="fqred">Invalid Traffic Detection:</span></h5>
    <ul class="tab">
        <li>Applies to desktop, mobile web, and in-app across all ad formats</li>
        <li><span class="'fqred" >Nonhuman traffic detection:</span> bot infected computers used to generate fraudulent impressions clicks, and conversions</li>
        <li><span class="'fqred" >Emulated Traffic Detection:</span> virtual machines/emulated environments</li>
        <li><span class="'fqred" >Mobile Device Hijacking:</span> apps which rapidly refresh ads, many of which are hidden to the end user</li>
    </ul>
    <p class="tab">Each scored event receives a 0-100 Risk Score, with a Risk Score >= 65 falling into the Forensiq Total Risk Range.</p>
</div>

{% endblock %}
