{% block true_appendix %}

<div class="row" >
    <p>For increased insight into True URL scoring methodologies Forensiq provides four Reason Codes, defined below. Similar to the Fraud and Viewability Reason Codes, these can be accessed at the Source, Sub Source, Campaign, and Domain levels.</p>
</div>

{{ table_placeHolder }}
<div class="row" >
    <table>
        <thead class="fqheader">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</dev>
{% endblock %}
