{% block true_overview %}

<br />
<br />
<br />
<br />
<div class="row" >
    <h3>True URL Analysis</h3>
    <h4 class="fqred"><i>Overview</i></h4>
    <p>True URL is a product that detects the true domain on which an ad appears despite fraudulent traffic source’s attempts to mask or spoof this information. By using True URL Forensiq clients can get what they pay for from publishers with which they have agreed to run. Overall {{ percentages.true }}% of True URL Measured {{ trafficType }} were flagged for an infraction.</p>
</div>
{% endblock %}
