{% block true_reasons %}
<div class="row" >
    <p>There several reasons a seller might engage in a True URL Infraction:</p>
    <ul class="tab">
        <li><span class="'fqred" >Cloaked Domains:</span> this practice enables undesirable properties such as pirate and adult portals to sell inventory under a high-CPM category such as cars or travel. The website being reported often is composed of scraped content from other websites and is maintained solely for the purpose of cloaking. </li>
        <li><span class="'fqred" >Domain Spoofing:</span> ads hidden from view by having been placed behind other ads, in a background browser window or positioned in a way in which the user could not have seen the ad.</li>
        <li><span class="'fqred" >Ad Injection:</span> This artificially increases the number of ads per page and can lead to negative user experience.</li>
    </ul>
    <p>Clients can use the Forensiq True URL feature to drill down to the Seller, Publisher, Campaign and Domain levels to identify specific sources engaging in malicious activity, as well as the actual domain where the ad appeared. An option to automate the process via periodic (e.g. daily, weekly) alerts will also be available. Using True URL will enable {{ client }} to buy and sell digital media better in several ways.</p>
    <ol>
        <li>Avoid buying from sites with pirated content or brand unsafe websites that include pornography or hate speech.</li>
        <li>Identify non-human traffic caused by botnets that load hundreds of fake ads at the same time or use multiple iframes to spoof the true URL.</li>
        <li>Steer clear of inventory targeted to the wrong audience. This includes placements with publishers that mask the true URL in order to drive low cost, low quality traffic from a wider range of websites.</li>
    </ol>
</div>
{% endblock %}
