{% block true_source %}

<div class="row" >
    <h3>High Domain Infraction % Sources</h3>
    <p>Below are the top 25 Sources with elevated Domain Infraction %s.</p>
</div>

{{ table_placeHolder }}
<div class="row" >
    <table>
        <thead class="fqheader">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
